body{
  margin: 0px;
}

.menu-wrapper{
  z-index: 1;
  display: flex;
  background-color: #004D40;
}

.menu-container{
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  background-color:#004D40;    
  margin: auto;
  height: 70px;
}

.menu-element{
  background: #00695C;
  padding: 5px;
  margin: 10px;
  width: 60px;
  height: 30px;
  margin-top: 10px;
  
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  transition: background-color 0.7s;
}

.menu-element:hover{
  background-color: #00796B;
}

.main-container{  
    margin-right: auto;
    margin-left: auto;
    max-width: 1012px;
}